WsDownloader/xml-resources/web-service-references/MasterWs/wsdl/localhost_8080/MasterWs/MasterWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.master/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.master/" name="MasterWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.master/" schemaLocation="http://localhost:8080/MasterWs/MasterWs?xsd=1"/>
</xsd:schema>
</types>
<message name="GetInfo">
<part name="parameters" element="tns:GetInfo"/>
</message>
<message name="GetInfoResponse">
<part name="parameters" element="tns:GetInfoResponse"/>
</message>
<message name="GetArchivo">
<part name="parameters" element="tns:GetArchivo"/>
</message>
<message name="GetArchivoResponse">
<part name="parameters" element="tns:GetArchivoResponse"/>
</message>
<message name="Getfilelist">
<part name="parameters" element="tns:Getfilelist"/>
</message>
<message name="GetfilelistResponse">
<part name="parameters" element="tns:GetfilelistResponse"/>
</message>
<message name="GetTam">
<part name="parameters" element="tns:GetTam"/>
</message>
<message name="GetTamResponse">
<part name="parameters" element="tns:GetTamResponse"/>
</message>
<message name="GetByte">
<part name="parameters" element="tns:GetByte"/>
</message>
<message name="GetByteResponse">
<part name="parameters" element="tns:GetByteResponse"/>
</message>
<portType name="MasterWs">
<operation name="GetInfo">
<input wsam:Action="http://ws.master/MasterWs/GetInfoRequest" message="tns:GetInfo"/>
<output wsam:Action="http://ws.master/MasterWs/GetInfoResponse" message="tns:GetInfoResponse"/>
</operation>
<operation name="GetArchivo">
<input wsam:Action="http://ws.master/MasterWs/GetArchivoRequest" message="tns:GetArchivo"/>
<output wsam:Action="http://ws.master/MasterWs/GetArchivoResponse" message="tns:GetArchivoResponse"/>
</operation>
<operation name="Getfilelist">
<input wsam:Action="http://ws.master/MasterWs/GetfilelistRequest" message="tns:Getfilelist"/>
<output wsam:Action="http://ws.master/MasterWs/GetfilelistResponse" message="tns:GetfilelistResponse"/>
</operation>
<operation name="GetTam">
<input wsam:Action="http://ws.master/MasterWs/GetTamRequest" message="tns:GetTam"/>
<output wsam:Action="http://ws.master/MasterWs/GetTamResponse" message="tns:GetTamResponse"/>
</operation>
<operation name="GetByte">
<input wsam:Action="http://ws.master/MasterWs/GetByteRequest" message="tns:GetByte"/>
<output wsam:Action="http://ws.master/MasterWs/GetByteResponse" message="tns:GetByteResponse"/>
</operation>
</portType>
<binding name="MasterWsPortBinding" type="tns:MasterWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetArchivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Getfilelist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetTam">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetByte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MasterWs">
<port name="MasterWsPort" binding="tns:MasterWsPortBinding">
<soap:address location="http://localhost:8080/MasterWs/MasterWs"/>
</port>
</service>
</definitions>